assets/image.png
assets/image.jpg
model/
F:\ai-assistant\pico-files\model\wake-mode\Hey-Fam_en_windows_v3_0_0.ppn
*.pyc
__pycache__/
venv/
*.env
.idea/
.vscode/
assets/cache/tts.mp3
tests/test.py
tests/getSpeech.py
assets/cache/tts.mp3