PyAudio
pygame
SpeechRecognition==2.2.0
pytube
youtube_search
moviepy
fuzzywuzzy
pyyaml
groq
httpx==0.24.1
numpy
RPi.GPIO
nltk
openai
pydub
# streamlit==1.41.1
python-Levenshtein
spotipy
mutagen
paramiko
ptyprocess